 {{#each results}} 
<div class="col-md-8">
  <div class="panel panel-info">
    <div class="panel-heading">
        <H3>{{this.firstname}} {{this.lastname}}</H3>
    </div>
    <div class="panel-body">
      <p>Date of Birth:{{this.dob}} </p>
      <p>Phone Number: {{this.phone}}</p>
      <p>Address: {{this.address1}}  </p>
      <p>{{this.address2}} </p>
   <!--  </div> -->
    <!-- <div class="panel-footer">
      <div class="form-group">
        <input type="text" class="form-control" name="comment">
        <button type="submit" class="btn btn-lg btn-block btn-primary">Add Comment </button>
      </div> -->
    </div>
  </div>
</div>
    {{/each}}
<div class="col-md-4">
  <a href="/patientQa">
    <button class="btn btn-primary btn-lg xl btn-block">View Questions</button>
  </a>
  <h3 class="text-center"> or </h3>
  <a href="/showAll">
    <button class="btn btn-default btn-lg btn-block">Back</button>
  </a>
</div>


