<div class="col-md-8">
  <div class="panel panel-primary">
    <div class="panel-body">
  {{#each results}}
      <h3>Question</h3>
      <h4>{{this.question}}</h4>
      <br>
      <h3> Answer</h3>
      <h4>{{this.answer}} </h4>
      <form action="/createNote" id="notes" method="post">
        <textarea class="form-control" id="newNote" rows="5" name="note"></textarea>
        <p id="warning"> Please enter all fields before submitting </p>
        <button type="submit" class="btn btn-lg btn-primary btn-block"> Add Notes</button>
      </form>
    </div>
    <div class="panel-footer">
    {{#each Notes}}
      <div class="panel panel-info">
        <div class="panel-body">
          <p>{{this.note}}</p>
          <p>Created at {{this.createdAt}}</p>
          <p>by: {{this.firstname}} {{this.lastname}} </p>
        </div> 
      </div> 
      {{/each}}
    </div> 
    {{/each}}
  </div>
</div>   

<div class="col-md-4">
  <a href="/patientQa">
    <button class="btn btn-default btn-lg btn-block">Back</button>
  </a>
</div>


