<div class="col-md-8 loginPanel">
  <div class="panel panel-primary">
    <div class="panel-body">
  {{#each results}}
  <h3>Question</h3>
  <h4>{{this.question}}</h4>
  <br>
  <h3> Answer</h3>
  <h4>{{this.answer}} </h4>
  <form action="/createNote" method="post">
   <textarea class="form-control" rows="5" name="note"></textarea>
    <button type="submit" class="btn btn-lg btn-primary btn-block"> add notes</button>
    </form>
  </div>
  <div class="panel-footer">
    {{#each Notes}}
    <p>{{this.note}}</p>
      <p>Created at {{this.createdAt}}</p>
      <p style="border-bottom: 1px gray solid">by: {{this.firstname}} {{this.lastname}} </p>
    <br>
    {{/each}}
  </div>
  {{/each}}
  </div>
 </div>   

<div class="col-md-4">
  <a href="/patientQa">
    <button class="btn btn-default btn-lg btn-block">Back</button>
  </a>
  </div>


